<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>
<mat-card>
    <mat-card-title>Send notification</mat-card-title>
    <mat-card-content>
        <form class="notification-form" [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
            
            <p>
                <mat-form-field class="full-width">
                    <input matInput [formControl]="descriptionInput" placeholder="Description" cdkFocusInitial>
                    <mat-error *ngIf="descriptionInput.hasError('required')">
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <!-- <p *ngFor="let category of categories">
                <mat-form-field class="full-width">
                    <input matInput [formControl]="{{category}}Input" placeholder="{{category}}">
                    <mat-error *ngIf="{{category}}Input.hasError('required')">
                        {{category}} Grade is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p> -->
            <p>
                <mat-form-field class="full-width">
                    <input matInput [formControl]="designInput" placeholder="Design">
                    <mat-error *ngIf="designInput.hasError('required')">
                        Design Grade is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput [formControl]="prInput" placeholder="PR">
                    <mat-error *ngIf="prInput.hasError('required')">
                        PR Grade is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput [formControl]="hrInput" placeholder="HR">
                    <mat-error *ngIf="hrInput.hasError('required')">
                        HR Grade is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput [formControl]="itInput" placeholder="IT">
                    <mat-error *ngIf="itInput.hasError('required')">
                        IT Grade is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput [formControl]="frInput" placeholder="FR">
                    <mat-error *ngIf="frInput.hasError('required')">
                        FR Grade is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>
            <div class="button">
                <button mat-raised-button color="primary" [disabled]="loading" type="submit">Get Recommended Users</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>