<h1 mat-dialog-title>Edit {{data.user.firstName}} {{data.user.lastName}}</h1>
<div mat-dialog-content>
  <div mat-subheader>Edit roles</div>
  <mat-selection-list #list (ngModelChange)="onSelectedOptionsChange()"
    [compareWith]="comparator" [formControl]="formControl">
    <mat-list-option *ngFor="let role of roles" [value]="role">
      {{role.name}}
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>
  <div mat-subheader>Is user enabled?</div>
  <section class="section">
    <mat-slide-toggle #toggle
        class="margin"
        color="primary"
        [checked]="checked"
        (change)="onSlideChange()">
      {{toggle.checked ? 'enabled' : 'not enabled'}}
    </mat-slide-toggle>
  </section>
  <mat-divider></mat-divider>
  <div mat-subheader>Skills Grades</div>
    <form class="edit-skills-form" [formGroup]="editSkillsForm">
      <p>
          <mat-form-field class="full-width">
              <input matInput [formControl]="designInput" placeholder="Design">
              <mat-error *ngIf="designInput.hasError('required')">
                  Design Grade is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field class="full-width">
              <input matInput [formControl]="prInput" placeholder="PR">
              <mat-error *ngIf="prInput.hasError('required')">
                  PR Grade is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field class="full-width">
              <input matInput [formControl]="hrInput" placeholder="HR">
              <mat-error *ngIf="hrInput.hasError('required')">
                  HR Grade is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field class="full-width">
              <input matInput [formControl]="itInput" placeholder="IT">
              <mat-error *ngIf="itInput.hasError('required')">
                  IT Grade is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </p>
      <p>
          <mat-form-field class="full-width">
              <input matInput [formControl]="frInput" placeholder="FR">
              <mat-error *ngIf="frInput.hasError('required')">
                  FR Grade is <strong>required</strong>
              </mat-error>
          </mat-form-field>
      </p>
    </form>
  </div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>