<h1 mat-dialog-title>Edit {{data.user.firstName}} {{data.user.lastName}}</h1>
<div mat-dialog-content>
  <div mat-subheader>Edit roles</div>
  <mat-selection-list #list (ngModelChange)="onSelectedOptionsChange()"
    [compareWith]="comparator" [formControl]="formControl">
    <mat-list-option *ngFor="let role of roles" [value]="role">
      {{role.name}}
    </mat-list-option>
  </mat-selection-list>
  <mat-divider></mat-divider>
  <div mat-subheader>Is user enabled?</div>
  <section class="section">
    <mat-slide-toggle #toggle
        class="margin"
        color="primary"
        [checked]="checked"
        (change)="onSlideChange()">
      {{toggle.checked ? 'enabled' : 'not enabled'}}
    </mat-slide-toggle>
  </section>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>