<h1 class="h1">Event Details</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="products">
  <mat-card fxFlex="100%" fxFlex.gt-sm="66%" class="mat-elevation-z1">
    <mat-card-header>
      <div mat-card-avatar class="header-image"
      [style.background-image]="'url(\'C:/Users/Dell/UBB/Licenta/BESTApplication/client/src/assets/logos_events/logo_' + event.name + '.png\')'"></div>
      <mat-card-title>{{event.name}}</mat-card-title>
      <mat-card-subtitle>Since {{event.firstYear}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h4>Description</h4>
      <p>
        {{event.description}}
      </p>
      <mat-divider></mat-divider>
      <h4>Main Organizer</h4>
      <p>
        {{event.mainOrganizer ? event.mainOrganizer : 'Not announced yet'}}
      </p>
      <mat-divider></mat-divider>
      <h4>CoreTeam Members</h4>
      <p *ngFor="let member of coreTeamMembers">
        {{member}}
      </p>
      <p *ngIf="coreTeamMembers.length === 1">Not announced yet</p>
      <mat-divider></mat-divider>
      <mat-list *ngIf="showUpdates">
        <mat-label>Updates</mat-label>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isLoggedIn" mat-raised-button color="primary" (click)="changeShowUpdates()">
        {{ showUpdates ? 'Hide updates' : 'See updates' }}
      </button>
      <button mat-raised-button color="primary" (click)="openAddUpdateDialog()"
        *ngIf="isLoggedIn">Add update</button>
    </mat-card-actions>
  </mat-card>
</div>